html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  margin: 2.5rem 1rem;
  background-color: #e2e2e2;
}

section {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin-top: .5rem;
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  margin: 1.5rem 0;
  text-decoration: none;
  padding: .5rem .75rem;
  color: #fff;
  background-color: #555;
  border-radius: 4px;
}

p {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
  margin-top: .5rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  section {
    flex-wrap: nowrap;
    align-items: center;
  }

  .img-flex {
    max-width: 50%;
    margin: 0 0 0 1.5rem;
  }

  .stuffs {
    max-width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .stuffs {
    padding-right: 1.5rem;
  }

}
